.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    background-color: azure;
    border-radius: 15px;
    color: black;
}

.chat-users {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.chat-users button {
    background-color: lavender;
    height: 40px;
    font: normal 20px/1.5 Arial, sans-serif;
    border-radius: 15px;
    border: 1px solid white;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.chat-messages p {
    margin: 3px;
    width: 100%;
}

.chat-messages p strong {
    font-size: 20px;
    border-radius: 20px 0 20px 20px;
    background-color: antiquewhite;
    padding: 7px;
    font: normal 300 20px/1.5 sans-serif;
}

.chat-messages p .meStrong {
    background-color: #fad4a2;
    float: right;
}

form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

form textarea {
    border-radius: 5px;
    min-width: 200px;
    /* کلیدی‌ترین خط */
    field-sizing: content;
    min-height: 42px;
    max-height: 150px;
    width: 500px;
    padding: 10px 14px;
    font-size: 15px;
    line-height: 1.4;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    resize: none;
    overflow-y: auto;
    box-sizing: border-box;
}

form button {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: blueviolet;
    color: white;
}