.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    background-color: wheat;
    border-radius: 15px;
    color: black;
    padding: 7px;
    /* max-height: 1000px; */
    /* overflow-y: auto; */
}

.chat-users {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.chat-users button {
    /* background-color: lavender; */
    background-color: black;
    color: wheat;
    height: 40px;
    font: normal 20px/1.5 Arial, sans-serif;
    border-radius: 15px;
    border: 1px solid white;
    transition: background-color 0.2s ease-out;
    &:hover {
        background-color: #ffb347;
        color: black;
    }
}

.chat-messages {
    display: flex;
    flex-direction: column;
    width: 95%;
    box-sizing: border-box;
    gap: 7px;
}

.chat-messages p {
    max-width: 100%;
    margin: 7px;
    overflow-wrap: break-word;
    word-break: break-word;
}

.chat-messages p strong {
    font-size: 20px;
    border-radius: 20px 0 20px 20px;
    background-color: white;
    padding: 7px;
    font: normal 300 20px/1.5 sans-serif;
    text-align: left;
}

.chat-messages p .meStrong {
    background-color: rgb(182, 253, 253);
    float: right;
    text-align: right;
}

form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

form textarea {
    border-radius: 5px;
    min-width: 200px;
    /* کلیدی‌ترین خط */
    field-sizing: content;
    min-height: 42px;
    max-height: 150px;
    width: 500px;
    padding: 10px 14px;
    font-size: 15px;
    line-height: 1.4;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    resize: none;
    overflow-y: auto;
    box-sizing: border-box;
}

.chat .chatBtn {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: blueviolet;
    color: white;
}